body {
  /* font syntax: font: <font-size> <font-family> */
  font: 1em sans-serif; 
}

.outerMostBorder {
  padding: 1em; 
  border: 3px solid #000;
  margin: 65px auto 0; 
  width: 50%;
}

.header {
  text-align: center;
}

form {
  padding: 1em;
  border-radius: 1em;
  /* center the form element */
  margin: 0 auto;
  width: 500px;
}

fieldset {
  text-align: center;
}

div {
  padding: 1em;
  /* border: 1px solid #555555; */
  /* center the form element */
  margin: 10px auto;
  /* center the content */
  text-align: center;
}

button {
  width: 20%;
  padding: 5px;  
  box-sizing: border-box;
}

.equation {
  background-color: lightgray;
  width: 20%;
  border: 1px solid #000; 
  border-radius: 1em;
  margin: 20px auto; 
  padding: 5px;
  box-sizing: border-box;  
}

.answerTextBox {
  padding: 5px; 
}

/* Responsive Design */
@media only screen and (min-width: 800px) and (max-width: 1250px) {

  .outerMostBorder {
    padding: 1em; 
    border: 3px solid #000;
    margin: 65px auto 0; 
    width: 65%;
  }

  .equation {
    background-color: lightgray;
    width: 30%;
    border: 1px solid #000; 
    border-radius: 1em;
    margin: 20px auto; 
    padding: 5px;
    box-sizing: border-box;  
  }

  button {
    width: 30%;
    padding: 5px;  
    box-sizing: border-box;
  }

}



